.videoWrapper
  position: relative
  display: flex
  align-items: center
  justify-content: center
  line-height: 0
  max-width: 100%
  max-height: 100%
  height: 100%

  &._hidden
    display: none

.video
  display: block
  max-width: 100%
  max-height: 100%
  width: 100%
  height: 100%
  object-fit: contain
  -webkit-touch-callout: default

  &::-webkit-media-controls
    position: absolute
    z-index: -1
    display: none !important
    opacity: 0

.audio
  display: block
  width: 100%

  &._hidden
    display: none

.description
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  width: 100%
  height: calc(100% - 96px - env(safe-area-inset-bottom, 0) - env(safe-area-inset-top, 0))
  max-width: calc(100% - 96px)
  padding: 0 env(safe-area-inset-right, 0) 0 env(safe-area-inset-left, 0)
  transition: opacity .3s ease-in-out

  &._transparent
    opacity: 0.05

.descriptionText
  width: 100%
  text-align: center

  &:first-child
    font-size: 16px

  &:last-child
    font-size: 24px

  & + .descriptionText
    margin-top: 8px

.playButton
  position: absolute
  width: 64px
  height: 64px
  border-radius: 50%
  background-color: var(--color-black-05)
  opacity: 1
  transition: opacity .3s ease-in-out

  &._hidden
    opacity: 0
    transition-duration: .2s
    transition-timing-function: ease-in

  &._border
    border: 2px solid var(--color-white)

.previewPlayButton
  top: 50%
  left: 50%
  z-index: 2
  transform: translate(-50%, -50%)

.loader
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.controls
  position: absolute
  left: 0
  right: 0
  bottom: 0
  z-index: 2
  display: flex
  align-items: center
  opacity: 1
  transition: opacity .3s ease-in-out

  &._disabled
    opacity: 0.3
    pointer-events: none

  &._hidden
    opacity: 0
    pointer-events: none
    transition-duration: .2s
    transition-timing-function: ease-in

  &._video
    flex-direction: column
    align-items: stretch
    padding: 4px 12px
    padding-bottom: calc(4px + env(safe-area-inset-bottom, 0))
    line-height: 1
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%)

  &._audio
    justify-content: space-between
    width: calc(100% - 54px)
    height: calc(48px + env(safe-area-inset-bottom, 0))
    padding: 0 env(safe-area-inset-right, 0) env(safe-area-inset-bottom, 0) env(safe-area-inset-left, 0)

    &._fullscreen
      padding-left: calc(20px + env(safe-area-inset-left, 0))

      &::after
        position: absolute
        z-index: -1
        top: 0
        right: -54px
        bottom: 0
        left: 0
        display: block
        cursor: default
        content: ''
        background-color: var(--color-black-05)

    &._hidden::after
      display: block

.progress
  ._video &
    width: 100%

.controlsRow
  display: flex
  align-items: center
  justify-content: space-between
  width: 100%
  margin-top: 2px

.controlsLeft
  display: flex
  align-items: center

.time
  margin-left: 10px
  flex-shrink: 0
  white-space: nowrap
  font-feature-settings: "tnum"
  font-variant-numeric: tabular-nums

  ._video &
    font-size: 12px
    color: var(--color-white)

  ._audio &
    margin-left: 20px
    font-size: 10px

.controlButton
  width: 36px
  height: 36px
  padding: 0
  background-color: transparent

  > svg
    width: 20px
    height: 20px
    fill: var(--color-white)

.seekIcon
  width: 22px
  height: 22px
  fill: none
  stroke: var(--color-white)
  stroke-width: 3
  stroke-linecap: round
  stroke-linejoin: round
